<% is_html = ((defined? html) && html) ? true : false %>

<% title "Events by Category" %>

<% if is_html && @categories.count > 0 %>
	<%= form_tag "/#{I18n.locale}/events/category", :method => :get, :html => { :class => 'form-horizontal' } do -%>
		<%= select_tag :cat, options_from_collection_for_select(@categories, "title", "title"), :include_blank => true%>
		<%= submit_tag 'Search' %>
	<% end -%>
<% end %>


<% if @events.nil? || @events.length == 0 %>
	<% if !params[:cat].nil? %>
		<p>No events exist for this category.</p>
	<% end %>
<% else %>

     <%= render 'german_week/search_results', :is_html => is_html %>

<% end %>
