<% is_html = ((defined? html) && html) ? true : false %>

<% if @events.nil? || @events.length == 0 %>
	<p><%= t('app.msgs.no_events_for_date') %></p>
<% else %>

	<%= render 'shared/event_list', :is_html => is_html %>

<% end %>
