<% is_html = ((defined? html) && html) ? true : false %>

<table class="grid">

  <% @events.each_with_index do |event, i| %>

   <% if i % 2 == 0 %>
    <tr>
    <% attr = ' class="left"'.html_safe %>
   <% else %>
    <% attr = ' class="right"'.html_safe %>
   <% end %>

      <td<%= attr %>>
        <div class="header">
          <%= format_datetime(event.start) %>
        </div>
        <div class="body">
          <%= link_to event.title, event_path(event) %>
        </div>
      </td>

   <% if i % 2 == 1 %>
    </tr>
   <% end %>

  <% end %>

  <% if @events.count % 2 == 1 %>
    </tr>
  <% end; %>

</table>
