<% title t('.title') %>

<%= render 'category', :html => true %>

<% if !@events.nil? && @events.length > 0 %>
<div class="form-actions">
	<%= link_to t('app.buttons.pdf'), category_events_path(:cat => params[:cat], :page => params[:page], :format => 'pdf'), :class => "btn-export-hide", :target => "_blank" %>

	<%= link_to t('app.buttons.ics'), events_exportICS_path(:type => "category", :typespec => params[:cat]), :class => "btn-export" %>
</div>
<% end %>
