<% if !@date.nil? %>
	<% title t('.title', :date => l(@date, :format => :short)) %>
<% end %> 

<%= render 'day', :html => true %>

<% if !@events.nil? && @events.length > 0 %>
<div class="form-actions">
	<%= link_to t('app.buttons.pdf'), day_events_path(:date => params[:date], :menu_item => params[:menu_item], :format => 'pdf'), :class => "btn-export-hide", :target => "_blank" %>
	<%= link_to t('app.buttons.ics'), events_exportICS_path(:type => "day", :typespec => params[:date]), :class => "btn-export" %>
</div>
<% end %>
