<% title t('.title') %>

<%= render 'shared/event_list', :html => true %>

<% if !@events.nil? && @events.length > 0 %>
<div class="form-actions">
	<%= link_to t('app.buttons.pdf'), events_path(:format => 'pdf'), :class => "btn-export-hide", :target => "_blank" %>
	<%= link_to t('app.buttons.print'), "", :id => "btn-print", :class => "btn-print" %>
</div>
<% end %>
