/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
/* Multi language tabs*/

ul.select-form-language { list-style: none;
	border-bottom: 2px solid #DDD;
	padding: 10px 10px 10px 0px;
}
ul.select-form-language li { display: inline; padding:10px; border-top-left-radius: 4px 4px; border: 1px solid #DDD;
border-top-right-radius: 4px 4px;
}
ul.select-form-language li.tab-selected { background-color:#DDD; }
ul.select-form-language li.tab-selected { color:#eee; }

.hidden { display: none; }


abbr {
	padding-left:5px;
	color:#A00;
	font-weight:bold;
	font-size:125%;
}

