/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.btn-getaddr {
	height:10px;
}
.btn-getaddr div {
	font-size:10px;	
	margin-top:-4px;
}

.event-lat {
	display:none;
}
.event-lon {
	display:none;
}

.control-map {
	margin-left:150px;
	margin-top:0px;	
	background:transparent;
	border:1px solid #CCC;
	width: 300px;
	height: 250px;
}

/* show page styles */
#time-container {	}
#time-container #time-block {float: left; width: 60%;}
#time-container #time-block #event_time {font-size: larger;}
#time-container #button-block {float: right; width: 40%; text-align: center;}

/* image caption styles */
div#event_picture_container {
	margin: 20px 0;
	width: 100% !important;
	text-align: center;
	padding:0;
}
div#event_picture_container div.event_picture_container2 {
	margin: 0 auto;
	border: 1px solid #ccc;
	padding: 5px;
	background-color: #ddd;
}

div#event_picture_container div.event_picture_container img {
	margin: 0;
	padding:0;
}

div#event_picture_container div.event_picture_container p {
	margin: 5px 0 0 0;
	padding: 5px;
	border-top: 1px #ddd dotted;
	font-size: .9em;
	text-align: center;
}

div#map_container_show {
	margin: 20px 0;
}

div#map_container_show > div {
	margin: 0 auto;
}
