/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


.btn-getaddr {
	height:10px;
}
.btn-getaddr div {
	font-size:10px;	
	margin-top:-4px;
}

.event-lat {
	display:none;
}
.event-lon {
	display:none;
}

.control-map {
	margin-left:150px;
	margin-top:0px;	
	background:transparent;
	border:1px solid #CCC;
	width: 300px;
	height: 250px;
}

/* show page styles */
#time-container {	}
#time-container #time-block {float: left; width: 40%;}
#button-block {clear:both;float:right;margin-top: 10px;width: 40%; text-align: center; }


