.switcher_circles, .slider_controls
{
    position: absolute;
    width: 100%;
    bottom: 51px;
    text-align: center;
    z-index: 1000;
}

.slider_controls
{
    position: absolute;
    width: 57px;
    bottom: 51px;
    left: 50%;
    margin: 0 auto 0 -28px;
    text-align: center;
    z-index: 1000;
}

.switcher_circles .circle, .switcher_circles .circle_selected
{
    display: inline-block;
    cursor: pointer;
    border: 2px solid #fff;
    width: 9px;
    height: 9px; 
    margin: 0 3px;
    background: #C7C9DD;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.switcher_circles .circle:hover { background: #5079cb; }
.switcher_circles .circle_selected { background: #5079cb !important; cursor: default; }

.slider_content {  }
