<%= form_tag search_path, :method => 'get' do %>
  <div class="container">
    <%= text_field_tag :search, params[:search] %>
    <% if !(defined? template) %>
      <%= select_tag :category, options_for_select([['all','all']] + @categories.map {|c| [c.title, c.title]}, params[:category]) %>
    <% end %>
    <%= submit_tag t('app.buttons.search'), :name => nil %>
  </div>
<% end %>
