<%= form_tag search_path, :method => 'get' do %>
  <p style="margin: 0px;">
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag :search_in, options_for_select([['all','all']] + @categories.map {|c| [c.title, c.id]}, params[:search_in]) %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>