<% if @page.nil? %>
	<% title t('german_week.index.title') %>
<% else %>
<% title @page.title %>

<div id="img_ambassador">
	<%= image_tag "ambassodor.jpg" %>
</div>
<div>
	<%= simple_format(@page.description) %>
</div>
<div id="img_signature">
	<%= image_tag "signature.png" %>
</div>

<% end %>
