<% if @page.nil? %>
	<% title t('.title') %>
<% else %>
<% title @page.title %>

<div id="img_ambassador">
	<img src="/assets/images/ambassodor.jpg" />
</div>
<div>
	<%= simple_format(@page.description) %>
</div>
<div id="img_signature">
	<img src="/assets/images/signature.jpg" />
</div>

<% end %>
