<% title "Search" %>

<%= render 'german_week/search_form' %>

<hr />


<% if @events.nil? || @events.length == 0 %>
	<% if !params[:search].nil? || !params[:category].nil?%>
		<p>0 results found.</p>
	<% end %>
<% else %>

    <%= render 'german_week/search_results', :is_html => true %>

<% end %>
